<ion-view view-title="iFeelBook">
	<ion-nav-buttons side="right">
		<a class="button button-icon button-clear ion-android-settings" href="#/app/settings"></a>
	</ion-nav-buttons>
<div class="bar bar-subheader bar-positive">
  <h2 class="title">Today I'm feeling...</h2>
</div>
  <ion-content class="has-subheader">
    <ion-list>
      <ion-item ng-repeat="quote in feelings" class="item-icon-left" nav-transition="none" href="#/app/quotes/{{quote.tag}}">
        <span ng-bind-html="quote.title"></span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
